In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

Duplicates Not Allowed

In [7]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [9]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'banana', 'cherry', 'apple'}

In [11]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'banana', 'cherry', 'apple'}

Get the Length of a Set

In [17]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

Set Items - Data Types

In [19]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'banana', 'cherry', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [21]:
set1 = {"abc", 34, True, 40, "male"}

print(set1)

{True, 34, 'male', 40, 'abc'}

type()

In [28]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

The set() Constructor

In [30]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

Access Items

In [32]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [34]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [36]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

Add Items

In [50]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

Add sets

In [52]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'banana', 'mango', 'cherry', 'pineapple', 'apple'}

Add Any Iterable

In [54]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'kiwi', 'banana', 'cherry', 'orange', 'apple'}

Remove Item

In [56]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [58]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [60]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [62]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [64]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

Loop Items

In [71]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

Join Sets
There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

Union

In [73]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [75]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

Join Multiple Sets

In [81]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'John', 'bananas', 'b', 'c', 'a', 'cherry', 'Elena', 'apple'}

In [83]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'John', 'bananas', 'b', 'c', 'a', 'cherry', 'Elena', 'apple'}

Join a Set and a Tuple`

In [85]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'a', 'c'}

Update

In [93]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

Intersection

In [95]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [97]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [99]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [101]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

Difference

In [107]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [109]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [111]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

Symmetric Differences

In [117]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'cherry', 'microsoft', 'google'}

In [119]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'cherry', 'microsoft', 'google'}

In [121]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'cherry', 'microsoft', 'google'}

In [ ]:
add()	 	#Adds an element to the set
clear()	 	#Removes all the elements from the set
copy()	 	#Returns a copy of the set
difference()	-	#Returns a set containing the difference between two or more sets
difference_update()	-=	#Removes the items in this set that are also included in another, specified set
discard()	 	#Remove the specified item
intersection()	&	#Returns a set, that is the intersection of two other sets
intersection_update()	&=	#Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	 	#Returns whether two sets have a intersection or not
issubset()	<=	#Returns whether another set contains this set or not
 	<	#Returns whether all items in this set is present in other, specified set(s)
issuperset()	>=	#Returns whether this set contains another set or not
 	>	#Returns whether all items in other, specified set(s) is present in this set
pop()	 	#Removes an element from the set
remove()	 	#Removes the specified element
symmetric_difference()	^	#Returns a set with the symmetric differences of two sets
symmetric_difference_update()	^=	#Inserts the symmetric differences from this set and another
union()	|	#Return a set containing the union of sets
update()	|=	#Update the set with the union of this set and others